<div class="col-md-4 col-sn-6 col-xs-12 form-group pull-right top_search table_search" style="display: inline-block">
    <div class="input-group">
        <input type="text" class="form-control input-table-search" placeholder="Поиск по таблице...">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-table-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </span>
    </div>
</div>