@model Petrovich.Web.Models.Bid.CreateBidClientViewModel

<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <span class="required">*</span>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Имя" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
    <span class="required">*</span>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Фамилия" })
    </div>
</div>