Petrovich.Core.Tests/bin/
Petrovich.Core.Tests/obj/
Petrovich.Core/bin/
Petrovich.Core/obj/
Petrovich.Web.Tests/bin/
Petrovich.Web.Tests/obj/
Petrovich.Web/bin/
Petrovich.Web/obj/
Petrovich.Business.Tests/bin/
Petrovich.Business.Tests/obj/
Petrovich.Business/bin/
Petrovich.Business/obj/
Petrovich.Repositories.Tests/bin/
Petrovich.Repositories.Tests/obj/
Petrovich.Repositories/bin/
Petrovich.Repositories/obj/
Petrovich.Context/bin/
Petrovich.Context/obj/
.vs/Petrovich/v15/.suo
_Publish/
