<div class="menu_section">
    <h3>Логирование</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-user"></i> Логи <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Просмотр логов", PetrovichRoutes.Logging.Index)
                </li>
            </ul>
        </li>
    </ul>
</div>