<div class="menu_section">
    <h3>Менеджер</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-user"></i> Товар <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Перечень товара", PetrovichRoutes.Manager.Branches)
                </li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-user"></i> Клиенты <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Список клиентов", PetrovichRoutes.Clients.Index)
                </li>
                <li>
                    @Html.ActionLink("Добавить клиента", PetrovichRoutes.Clients.Create)
                </li>
            </ul>
        </li>
    </ul>
</div>