<div class="menu_section">
    <h3>Склад</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-user"></i> Товар <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Перечень товара", PetrovichRoutes.Products.Index)
                </li>
                <li>
                    @Html.ActionLink("Добавить товар", PetrovichRoutes.Products.Create)
                </li>
            </ul>
        </li>
    </ul>
</div>