<div class="x_panel bid hide">
    <div class="x_title">
        <small>Нет выбранных продуктов</small>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap no-footer">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        Для создания заявки используйте кнопку <strong>Оформить</strong> в корзине заявки вверху страницы.
                                    </p>
                                    <p>
                                        Для добавления товаров в корзину заявки используйте кнопку <strong>Добавить в заявку</strong> в списке
                                        товаров либо на странице описания товара.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>