@{
    ViewBag.Title = "Невозможно удалить раздел";
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.Title <small>выбраный раздел не может быть удален</small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p>Что бы удалить раздел, удалите все категории, относящиеся к выбранному разделу.</p>
    </div>
</div>


