@{
    ViewBag.Title = "Невозможно удалить категорию";
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.Title <small>выбранная категория не может быть удалена</small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p>Что бы удалить категорую, удалите все группы, относящиеся к выбранной категории.</p>
    </div>
</div>


