<footer>
    <div class="pull-right">
        Прокат "Петрович" &copy; @DateTime.Now.Year | Разработка: <a target="_blank" href="https://www.linkedin.com/in/artsiompatotski/" title="Artsiom Patotski">Artsiom Patotski</a>
    </div>
    <div class="clearfix"></div>
</footer>