@model System.Collections.Generic.IEnumerable<Petrovich.Web.Models.UserManagement.ApplicationUserModel>

@{
    if (ViewContext.ActionEquals(PetrovichRoutes.UserManagement.Active.Action))
    {
        ViewBag.Title = "Активные пользователи";
    }

    if (ViewContext.ActionEquals(PetrovichRoutes.UserManagement.Deleted.Action))
    {
        ViewBag.Title = "Удаленные пользователи";
    }
}

<div class="x_panel">
    <div class="x_title">
        <h2>Список пользователей <small>@ViewBag.Title.ToLower()</small></h2>

        @if (ViewContext.ActionEquals(PetrovichRoutes.UserManagement.Active.Action))
        {
            <div class="nav navbar-right">
                <a href="@Url.Action(PetrovichRoutes.UserManagement.Create)" class="btn btn-default btn-sm">Добавить пользователя</a>
            </div>
        }

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Операции</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    if (ViewContext.ActionEquals(PetrovichRoutes.UserManagement.Active.Action))
                    {
                        @Html.Partial("UserList/UserItemActive", user)
                    }

                    if (ViewContext.ActionEquals(PetrovichRoutes.UserManagement.Deleted.Action))
                    {
                        @Html.Partial("UserList/UserItemDeleted", user)
                    }
                }
            </tbody>
        </table>
    </div>
</div>