@import "Variables.less";

.profile_info_full {
    width: 95%;
}

.profile_info h2 {
    text-align: right;
}

.validation-summary-errors ul {
    list-style: none;
    text-align: left;
}

.ui-menu .ui-menu-item {
    list-style-image: none;
}

.x_navigation {
    a:hover {
        text-decoration: underline;
    }
}

ul.stats-overview {
    text-align: center;
    padding-left: 0;
}

.input-group-addon {
    border-radius: 0;
}

ul.bidmenu {
    overflow: hidden;
    padding: 0;

    > li.sc-cart-item {
        float: none;
        padding-right: 30px;
    }
}