@model System.DateTime

@{
    ViewBag.Title = "Страница не найдена";
}

<div class="container body">
    <div class="main_container">
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="error-number">404</h1>
                    <h2>Запрошенная страница не найдена</h2>
                    <p>
                        Страница которую вы ищете не существует, либо была удалена
                    </p>
                    <p>
                        Время возникновения ошибки: <strong>@Model.ToLocalTime()</strong>
                    </p>
                    <p>
                        @Html.ActionLink("На главную", PetrovichRoutes.Dashboard.Index)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

