@using Petrovich.Core

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    @if (User.Identity.HasClaim(PermissionClaims.PowerAdmin))
    {
        @Html.Partial("Layout/LeftNavigation/SidebarMenu/Logging");
    }

    @if (User.Identity.HasClaim(PermissionClaims.UserManagement))
    {
        @Html.Partial("Layout/LeftNavigation/SidebarMenu/Administrator");
    }

    @if (User.Identity.HasClaim(PermissionClaims.ProductsAdmin))
    {
        @Html.Partial("Layout/LeftNavigation/SidebarMenu/Products");
    }

    @if (User.Identity.HasClaim(PermissionClaims.Manager))
    {
        @Html.Partial("Layout/LeftNavigation/SidebarMenu/Manager");
    }
</div>