html,
body {
  min-width: 600px;
}
.profile_info_full {
  width: 95%;
}
.profile_info h2 {
  text-align: right;
}
.validation-summary-errors ul {
  list-style: none;
  text-align: left;
}
.ui-menu .ui-menu-item {
  list-style-image: none;
}
.x_navigation a:hover {
  text-decoration: underline;
}
ul.stats-overview {
  text-align: center;
  padding-left: 0;
}
.input-group-addon {
  border-radius: 0;
}
.fastsearch-item-wrapper {
  max-width: 700px;
  overflow: hidden;
}
.fastsearch-item {
  display: flex;
}
.fastsearch-item .fs-information {
  padding-left: 5px;
}
.fastsearch-item .fs-information .fs-header h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.logs-details .timeline .block {
  margin-left: 200px;
  min-height: 65px;
  padding-top: 20px;
}
.logs-details .timeline .tags {
  width: 180px;
}
.product-edit .preview {
  margin-bottom: 5px;
}
.product-edit .preview img {
  width: 128px;
  height: 128px;
}
.product-edit #purchasePicker {
  max-width: 150px;
}
.product-details .administration-bar {
  text-align: right;
}
.manager .x_content a:hover {
  text-decoration: underline;
}