@import "Variables.less";

@fast-search-h4-margin: 5px;

.fastsearch-item {
    display: flex;

    .fs-image {

    }

    .fs-information {
        padding-left: 5px;

        .fs-header {
            h4 {
                margin-top: @fast-search-h4-margin;
                margin-bottom: @fast-search-h4-margin;
            }
        }

        .fs-structure {
        }
    }
}
