@model IEnumerable<Petrovich.Web.Models.Manager.BranchViewModel>

@{
    ViewBag.Title = "Разделы";
}

<div class="x_panel manager">
    <div class="x_title">
        <small>Разделы</small>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Инвентарные номера</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="3">Нет элементов для отображения</td>
                                </tr>
                            }

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action(PetrovichRoutes.Manager.Categories, new { branchId = item.BranchId })">@item.Title</a>
                                    </td>
                                    <td>@item.InventoryNumbers</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>